<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html">
          <i class="nav-icon icon-speedometer"></i> Dashboard
          <!-- <span class="badge badge-primary">NEW</span> -->
        </a>
      </li>
      <li class="nav-title">Pessoas</li>
      <li class="nav-item">
        <a class="nav-link" href="colors.html">
          <i class="nav-icon icon-people"></i> Pessoas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="typography.html">
          <i class="nav-icon icon-notebook"></i> Relatório</a>
      </li>
      <li class="nav-title">Ocorrências</li>
      <li class="nav-item">
        <a class="nav-link" href="colors.html">
          <i class="nav-icon icon-speech"></i> Ocorrências</a>
      </li>
      <li class="nav-title">Infrações</li>
      <li class="nav-item">
        <a class="nav-link" href="colors.html">
          <i class="nav-icon icon-book-open"></i> Infrações</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="typography.html">
          <i class="nav-icon icon-paper-clip"></i> Natureza</a>
      </li>
      <li class="nav-title">Homicídios</li>
      <li class="nav-item">
        <a class="nav-link" href="colors.html">
          <i class="nav-icon icon-user-unfollow"></i> Homicídios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="typography.html">
          <i class="nav-icon icon-notebook"></i> Relatório</a>
      </li>
      <li class="nav-title">Veículos</li>
      <li class="nav-item">
        <a class="nav-link" href="colors.html">
          <i class="nav-icon icon-paper-plane"></i> Veículos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="typography.html">
          <i class="nav-icon icon-cursor"></i> Modelos</a>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>