{% extends 'basepessoas.html'%}

{% block title %}Dados{%endblock%}
{%block content%}

<div class="card">
      <div class="container" id="descricao">
            <div class="card-header">
                Descrição
              </div>
              <div class="card-body">
                <h5 class="card-title">Descrição da Pessoa </h5>

                  <ul class="list-group">
                      <li class="list-group-item disabled" aria-disabled="true">
                          <img class="img-responsive"  style="width: 160px;" src="{{descricao1.fotopessoa.url}}"/></li>
                      <li class="list-group-item"><label class="espaco">Nome:</label>{{descricao.nome}}</li>
                      <li class="list-group-item"><label class="espaco">Sobre Nome:</label>{{descricao.sobrenome}}</li>
                      <li class="list-group-item"><label class="espaco">CPF:</label> {{descricao.cpf}}</li>
                      <li class="list-group-item"><label class="espaco">Endereço:</label>{{descricao_endereco.endereco}}</li>
                      <li class="list-group-item"><label class="espaco">Complemento:</label>{{descricao_endereco.complemento}}</li>
                      <li class="list-group-item"><label class="espaco">Cidade:</label>{{descricao_endereco.cidade}}</li>
                      <li class="list-group-item"><label class="espaco">Estado:</label>{{descricao_endereco.estado}}</li>
                       <li class="list-group-item"><label class="espaco">País:</label>{{descricao_endereco.pais}}</li>

                      infração : {{descricao_infracao.qualificacao}}
                  </ul>



                <br>
                <a href="{% url 'listarpessoas' %}"  class="btn btn-primary">Retornar Para Listagem</a>
                  <a class="btn btn-info" href="{% url 'person_detail_pdf' descricao.pk %}">Imprimir Relatório</a>
                <!-- <p>
                  
                  <input type="button" value="Criar PDF" id="btnImprimir" onclick="CriaPDF()" />
                </p> -->
              </div>
      </div>
</div>






{%endblock%}