{% extends 'basepessoas.html'%}
{% load bootstrap %}

{% block title %}Update Pessoa{%endblock%}
{%block content%}
<form  method="POST">
    {% csrf_token %}
    <div class="container">
        <p> <h5>Atualizar dados da Pessoa</h5> </p>
    </div>
    <div class="container">
        {{formeditarpessoa|bootstrap}}
    </div>
          <div class="container">
	           <div class="row">
	             <button id="btnsalvar" class="btn btn-secondary" type="submit" >Salvar</button>
	            </div>
		   </div>

</form>



{%endblock%}