{% extends "base.html" %}
{% load static %}
{% load easy_mask %}
{% load widget_tweaks %}

{% block content %}
<div class="col-lg-6">
  <div class="card">
    <div class="card-header">
      {{ object }}
      <a class="btn btn-sm btn-warning float-right ml-2" href="{% url 'pessoa:report_pessoa_detail' object.slug %}" target="_blank">PDF</a>
      <span class="pull-right btn btn-sm btn-primary" data-toggle="modal" data-target="#modalEditarPessoa">
        <i class="fa fa-edit"></i> Editar
      </span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          {% if object.get_first_photo %}
          <img src="{{ object.get_first_photo.foto.url }}" width="200px">
          {% endif %}
        </div>
        <div class="col-6">
          <h4>{{ object }}</h4>
          {% if object.apelido %}
          <h4 class="text-muted">Apelido: {{ object.apelido }}</h4>
          {% endif %}

          <h4><small>Facção:</small>
            {% if object.faccao.nome == 'Comando Vermelho' %}
              <span class="badge badge-danger fs-badge">C.V.</span> <br>
            {% elif object.faccao.nome == 'ADE' %}
              <span class="badge badge-dark fs-badge">A.D.E.</span> <br>
            {% elif object.faccao.nome == 'PCC-Primeiro Comando da Capital' %}
              <span class="badge badge-warning fs-badge">P.C.C.</span> <br>
            {% elif object.faccao.nome == 'Não Identificada' %}
              <span class="badge badge-link fs-badge">Não Identificada</span> <br>
            {% endif %}
          </h4>

          <h4><small>Status Atual:</small>
            {% if object.status_atual == 'foragido' %}
              <span class="badge badge-danger">Foragido</span>
            {% elif object.status_atual == 'morto' %}
              <span class="badge badge-secondary">Morto</span>
            {% elif object.status_atual == 'preso' %}
              <span class="badge badge-primary">Preso</span>
            {% elif object.status_atual == 'solto' %}
              <span class="badge badge-warning">Solto</span>
            {% endif %}
          </h4>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h4>Filiação</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item no-border">Mãe: {{ object.mae|default:"---" }}</li>
          <li class="list-group-item no-border">Pai: {{ object.pai|default:"---" }}</li>
          <li class="list-group-item no-border">Nascimento: {{ object.nascimento|date:"d/m/Y"|default:"---" }}</li>
        </ul>
      </li>
      <li class="list-group-item">
        <h4>Documentos</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item no-border">RG: {{ object.rg|default:"---" }}</li>
          <li class="list-group-item no-border">CPF: {{ object.cpf|cpf_mask|default:"---" }}</li>
          <li class="list-group-item no-border">CNH: {{ object.cnh|default:"---" }}</li>
        </ul>
      </li>
      <li class="list-group-item">
        <h4>Endereço</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item no-border">{{ object.get_address|default:"---" }}</li>
          {% if object.get_address_complement %}
          <li class="list-group-item no-border">
            {{ object.get_address_complement }}
          </li>
          {% endif %}
          {% if object.cep %}
          <li class="list-group-item no-border">
            CEP: {{ object.cep }}
          </li>
          {% endif %}
        </ul>
      </li>
      <li class="list-group-item">
        <h4>Observações</h4>
        <p class="text-justify">{{ object.observacao }}</p>
      </li>
    </ul>
  </div>
</div>

<div class="col-lg-3">
  <div class="card">
    <div class="card-header">
      CONTATOS
      <span class="pull-right badge badge-success" data-toggle="modal" data-target="#modalAdicionarContato"><i class="fa fa-plus"></i> Adicionar</span>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        {% for contato in object.pessoacontato_set.all %}
        <li class="list-group-item no-border">
          {% if contato.tipo == 'cel' %}
          <span class="badge badge-warning">{{ contato.tipo }}</span> {{ contato.telefone }}
          {% else %}
          <span class="badge badge-info">{{ contato.tipo }}</span> {{ contato.telefone }}
          {% endif %}
          <span class="span-is-link pull-right" data-toggle="modal" data-target="#modalEditarContato" @click="getContato('{% url 'api:contato_update' contato.pk %}')">
            <i class="fa fa-edit" style="margin-left: 10px;"></i>
          </span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      VEÍCULOS
      <span class="pull-right badge badge-success" data-toggle="modal" data-target="#modalAdicionarVeiculo" @click="getAddVeiculo"><i class="fa fa-plus"></i> Adicionar</span>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        {% for veiculo in object.pessoas_veiculos.all %}
        <li class="list-group-item">
          <ul class="list-group list-group-flush">
            <li class="list-group-item no-border li-line pl-0 pr-0">
              <span class="text-muted">Placa:</span> <span class="lead">{{ veiculo.veiculo.placa }}</span>
              <span class="span-is-link float-right" data-toggle="modal" data-target="#modalEditarVeiculo" @click="getVeiculo('{% url 'api:veiculo_update' veiculo.pk %}')">
                <i class="fa fa-edit" style="margin-left: 10px;"></i>
              </span>
            </li>
            <li class="list-group-item no-border li-line pl-0 pr-0">
              <span class="text-muted">{{ veiculo.veiculo.modelo }} {{ veiculo.veiculo.cor }}</span>
            </li>
            {% if veiculo.veiculo.observacao %}
            <li class="list-group-item no-border li-line pl-0 pr-0">
              <span class="text-muted">Observações:</span>
              <p class="text-justify">{{ veiculo.veiculo.observacao }}</p>
            </li>
            {% endif %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="col-lg-3">
  <div class="card">
    <div class="card-header">
      COMPARSAS
      <span class="pull-right badge badge-success" data-toggle="modal" data-target="#modalAdicionarComparsa"><i class="fa fa-plus"></i> Adicionar</span>
    </div>
    <div>
      <!-- card-body -->
      <ul class="list-group list-group-flush">
        {% for comparsa in object.pessoacomparsa_set.all %}
        <li class="list-group-item">
          <ul class="list-group list-group-flush">
            <li class="list-group-item no-border li-line pl-0 pr-0">
              <span class="lead">{{ comparsa.comparsa.nome }}</span>
              <span class="span-is-link pull-right" data-toggle="modal" data-target="#modalEditarComparsa" @click="getComparsa('{% url 'api:comparsa_update' comparsa.pk %}')">
                <i class="fa fa-edit" style="margin-left: 10px;"></i>
              </span>
            </li>
            <li class="list-group-item no-border li-line pl-0 pr-0"><span class="text-muted">RG:</span> {{ comparsa.comparsa.rg|default:"---" }}</li>
            <li class="list-group-item no-border li-line pl-0 pr-0"><span class="text-muted">CPF:</span> {{ comparsa.comparsa.cpf|cpf_mask }}</li>
            <li class="list-group-item no-border li-line pl-0 pr-0"><span class="text-muted">CNH:</span> {{ comparsa.comparsa.cnh|default:"---" }}</li>
            <li class="list-group-item no-border li-line pl-0 pr-0"><span class="text-muted">Parente:</span>
              {% if comparsa.parente %} <span class="badge badge-success">Sim</span>
              {% else %}
              <span class="badge badge-danger">Não</span>
              {% endif %}
            </li>
            <li class="list-group-item no-border li-line pl-0 pr-0"><span class="text-muted">Grau de Parentesco:</span> {{ comparsa.grau_parentesco }}</li>
            <li class="list-group-item li-line pl-0 pr-0">
              <span class="text-muted">Observações:</span>
              <p class="text-justify">{{ comparsa.observacao }}</p>
            </li>
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      Tatuagens
      <span class="pull-right badge badge-success" data-toggle="modal" data-target="#modalAdicionarTatuagem"><i class="fa fa-plus"></i> Adicionar</span>
    </div>
    <div class="card-body">
      <div class="row">
        {% for tatuagem in object.tatuagem_set.all %}
          <div class="col">
            {% if tatuagem.foto %}
              <div class="card">
                <div class="card-body">
                  <img src="{{ tatuagem.foto.url }}" class="card-img-top" style="min-width: 200px; max-width: 250px;" alt="{{ tatuagem.foto.name }}">
                </div>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      Ocorrências
      <span class="pull-right badge badge-success" data-toggle="modal" data-target="#modalAdicionarOcorrencia" @click="getAddOcorrencia"><i class="fa fa-plus"></i> Adicionar</span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <table class="table table-responsive-sm table-striped">
            <thead>
              <tr>
                <th>RAI</th>
                <th style="width: 8vw;">Data do fato</th>
                <th>Descrição</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for ocorrencia in ocorrencias %}
                <tr>
                  <td>{{ ocorrencia.ocorrencia.rai }}</td>
                  <td>{{ ocorrencia.ocorrencia.data_do_fato|date:"d/m/Y" }}</td>
                  <td>{{ ocorrencia.ocorrencia.descricao }}</td>
                  <td>
                    <span class="span-is-link" data-toggle="modal" data-target="#modalEditarOcorrencia" @click="getOcorrencia('{% url 'api:ocorrencia_update' ocorrencia.pk %}')">
                      <i class="fa fa-edit" style="margin-left: 10px;"></i>
                    </span>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      Infrações
      <span class="pull-right badge badge-success" data-toggle="modal" data-target="#modalAdicionarInfracao" @click="getAddInfracao"><i class="fa fa-plus"></i> Adicionar</span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <table class="table table-responsive-sm table-striped">
            <thead>
              <tr>
                <th>Natureza</th>
                <th>Qualificação</th>
                <th>Arma</th>
                <th>Status</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for infracao in object.infracao_set.all %}
                <tr>
                  <td>{{ infracao.natureza }}</td>
                  <td>{{ infracao.get_qualificacao_display }}</td>
                  <td>{{ infracao.arma|default:"---" }}</td>
                  <td>{{ infracao.get_status_display }}</td>
                  <td>
                    <span class="span-is-link" data-toggle="modal" data-target="#modalEditarInfracao" @click="getInfracao('{% url 'api:infracao_update' infracao.pk %}')">
                      <i class="fa fa-edit" style="margin-left: 10px;"></i>
                    </span>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Pessoa -->
<div class="modal fade" id="modalEditarPessoa" tabindex="-1" role="dialog" aria-labelledby="modalEditarPessoaLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalEditarPessoaLabel">Editar Pessoa</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form action="{% url 'pessoa:pessoa_update' object.slug %}" method="POST">
        <div class="modal-body">
          {% csrf_token %}
          {% for field in form_pessoa.visible_fields %}
          <div class="form-group{% if field.errors %} has-error {% endif %}">
            <label for="{{ field.id_for_label }}">
              {% if field.field.required %}
              <span class="required">{{ field.label }}</span>
              {% else %}
              {{ field.label }}
              {% endif %}
            </label>
            {% render_field field class="form-control" %}
            {% for error in field.errors %}
            <span class="text-muted">{{ error }}</span>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Adicionar Contato -->
<div class="modal fade" id="modalAdicionarContato" tabindex="-1" role="dialog" aria-labelledby="modalAdicionarContatoLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalAdicionarContatoLabel">Adicionar Contato</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form method="POST" @submit.prevent="salvarAddContato('{{ object.pk }}')">
        <div class="modal-body">
          {% csrf_token %}
          <input id="id_contato_pk" type="hidden" v-model="contato.pk" />
          <div class="form-group">
            <label for="id_tipo">Tipo</label>
            <select id="id_tipo" name="tipo" class="form-control" v-model="contato.tipo">
              <option value="cel">Celular</option>
              <option value="tel">Telefone</option>
            </select>
          </div>
          <div class="form-group">
            <label for="id_telefone">Telefone</label>
            <input id="id_telefone" name="telefone" type="tel" class="form-control" v-model="contato.telefone">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Editar Contato -->
<div class="modal fade" id="modalEditarContato" tabindex="-1" role="dialog" aria-labelledby="modalEditarContatoLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalEditarContatoLabel">Editar Contato</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form method="POST" @submit.prevent="salvarContato">
        <div class="modal-body">
          {% csrf_token %}
          <input id="id_contato_pk" type="hidden" v-model="contato.pk" />
          <div class="form-group">
            <label for="id_tipo">Tipo</label>
            <select id="id_tipo" name="tipo" class="form-control" v-model="contato.tipo">
              <option value="cel">Celular</option>
              <option value="tel">Telefone</option>
            </select>
          </div>
          <div class="form-group">
            <label for="id_telefone">Telefone</label>
            <input id="id_telefone" name="telefone" type="tel" class="form-control" v-model="contato.telefone">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Adicionar Veiculo -->
<div class="modal fade" id="modalAdicionarVeiculo" tabindex="-1" role="dialog" aria-labelledby="modalAdicionarVeiculoLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalAdicionarVeiculoLabel">Adicionar Veículo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form method="POST" @submit.prevent="salvarAddVeiculo('{{ object.pk }}')">
        <div class="modal-body">
          {% csrf_token %}
          <input id="id_veiculo_pk" type="hidden" v-model="veiculo.pk" />
          <div class="form-group">
            <label for="id_veiculo">Veículo</label>
            <select id="id_veiculo" name="veiculo" class="form-control" v-model="veiculo.veiculo_pk">
              <option value="">---</option>
              <option v-for="veiculo in veiculos" :key="veiculo.pk" :value="veiculo.pk">${ veiculo.veiculo }</option>
            </select>
          </div>
          <div class="form-group">
            <label for="id_observacao_veiculo">Observações</label>
            <br>
            <textarea id="id_observacao_veiculo" name="observacao" class="form-control" type="text" rows=5 maxlength="500" v-model="veiculo.observacao"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Editar Veiculo -->
<div class="modal fade" id="modalEditarVeiculo" tabindex="-1" role="dialog" aria-labelledby="modalEditarVeiculoLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalEditarVeiculoLabel">Editar Veículo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form method="POST" @submit.prevent="salvarVeiculo">
        <div class="modal-body">
          {% csrf_token %}
          <input id="id_veiculo_pk" type="hidden" v-model="veiculo.pk" />
          <div class="form-group">
            <label for="id_veiculo">Veículo</label>
            <select id="id_veiculo" name="veiculo" class="form-control" v-model="veiculo.veiculo_pk">
              <option value="">---</option>
              <option v-for="veiculo in veiculos" :key="veiculo.pk" :value="veiculo.pk">${ veiculo.veiculo }</option>
            </select>
          </div>
          <div class="form-group">
            <label for="id_observacao_veiculo">Observações</label>
            <br>
            <textarea id="id_observacao_veiculo" name="observacao" class="form-control" type="text" rows=5 maxlength="500" v-model="veiculo.observacao"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Adicionar Comparsa -->
<div class="modal fade" id="modalAdicionarComparsa" tabindex="-1" role="dialog" aria-labelledby="modalAdicionarComparsaLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalAdicionarComparsaLabel">Adicionar Comparsa</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form method="POST" @submit.prevent="salvarAddComparsa('{{ object.pk }}')">
        <div class="modal-body">
          {% csrf_token %}
          <input id="id_comparsa_pk" type="hidden" v-model="comparsa.pk" />
          <div class="form-group">
            <label for="id_nome">Nome</label>
            <input id="id_nome" name="nome" type="text" maxlength="100" class="form-control" v-model="comparsa.nome">
          </div>
          <div class="form-group">
            <label for="id_rg">RG</label>
            <input id="id_rg" name="rg" type="text" maxlength="11" class="form-control" v-model="comparsa.rg">
          </div>
          <div class="form-group">
            <label for="id_cpf">CPF</label>
            <input id="id_cpf" name="cpf" type="text" maxlength="11" class="form-control" v-model="comparsa.cpf">
          </div>
          <div class="form-group">
            <label for="id_cnh">CNH</label>
            <input id="id_cnh" name="cnh" type="text" maxlength="20" class="form-control" v-model="comparsa.cnh">
          </div>
          <div class="checkbox-row">
            <input id="id_parente" name="parente" type="checkbox" v-model="comparsa.parente" style="width: 50;">
            <label for="id_parente">Parente</label>
          </div>
          <div class="form-group">
            <label for="id_grau_parentesco">Grau de Parentesco</label>
            <input id="id_grau_parentesco" name="grau_parentesco" type="text" maxlength="50" class="form-control" v-model="comparsa.grau_parentesco">
          </div>
          <div class="form-group">
            <label for="id_observacao">Observação</label>
            <textarea id="id_observacao" name="observacao" type="text" rows=5 maxlength="500" class="form-control" v-model="comparsa.observacao"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Editar Comparsa -->
<div class="modal fade" id="modalEditarComparsa" tabindex="-1" role="dialog" aria-labelledby="modalEditarComparsaLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalEditarComparsaLabel">Editar Comparsa</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form method="POST" @submit.prevent="salvarComparsa">
        <div class="modal-body">
          {% csrf_token %}
          <input id="id_comparsa_pk" type="hidden" v-model="comparsa.pk" />
          <div class="form-group">
            <label for="id_comparsa">Comparsa</label>
            <select id="id_comparsa" name="comparsa" class="form-control" v-model="comparsa.comparsa_pk">
              <option value="">---</option>
              <option v-for="comparsa in comparsas" :key="comparsa.value" :value="comparsa.value">${ comparsa.text } - ${ comparsa.cpf }</option>
            </select>
          </div>
          <div class="checkbox-row">
            <input id="id_parente" name="parente" type="checkbox" v-model="comparsa.parente">
            <label for="id_parente">Parente</label>
          </div>
          <div class="form-group">
            <label for="id_grau_parentesco">Grau de Parentesco</label>
            <input id="id_grau_parentesco" name="grau_parentesco" type="text" maxlength="50" class="form-control" v-model="comparsa.grau_parentesco">
          </div>
          <div class="form-group">
            <label for="id_observacao">Observação</label>
            <textarea id="id_observacao" name="observacao" type="text" rows=5 maxlength="500" class="form-control" v-model="comparsa.observacao"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Editar Foto -->
<div class="modal fade" id="modalEditarFoto" tabindex="-1" role="dialog" aria-labelledby="modalEditarFotoLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalEditarFotoLabel">Editar Foto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form method="POST" @submit.prevent="salvarFoto">
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-group">
            {% if object.get_first_photo %}
            <img src="{{ object.get_first_photo.foto.url }}" width="200px" class="img-rounded img-responsive">
            {% endif %}
          </div>
          <div class="form-group">
            <input id="id_foto" name="foto" type="file" @change="processFile">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Editar Foto2 -->
<div class="modal fade" id="modalEditarFoto2" tabindex="-1" role="dialog" aria-labelledby="modalEditarFotoLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalEditarFotoLabel2">Editar Foto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form method="POST" @submit.prevent="salvarFoto2">
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-group">
            <img id="imgPhoto" :src="photo2.url" width="200px" class="img-rounded img-responsive">
          </div>
          <div class="form-group">
            <input type="file" @change="processFile2">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Adicionar Foto -->
<div class="modal fade" id="modalAdicionarFoto" tabindex="-1" role="dialog" aria-labelledby="modalAdicionarFotoLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalAdicionarFotoLabel">Adicionar Foto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form method="POST" @submit.prevent="salvarAddFoto('{{ object.pk }}')">
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-group">
            <img id="imgPhoto" :src="photo2.url" width="200px" class="img-rounded img-responsive">
          </div>
          <div class="form-group">
            <input type="file" @change="processFileAddPhoto">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Adicionar Tatuagem -->
<div class="modal fade" id="modalAdicionarTatuagem" tabindex="-1" role="dialog" aria-labelledby="modalAdicionarTatuagemLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalAdicionarTatuagemLabel">Adicionar Tatuagem</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form method="POST" @submit.prevent="salvarAddTatuagem('{{ object.pk }}')">
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-group">
            <img id="imgTatuagem" :src="tattoo.url" width="200px" class="img-rounded img-responsive">
          </div>
          <div class="form-group">
            <input type="file" @change="processFileAddTattoo">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Editar Tatuagem -->
<div class="modal fade" id="modalEditarTatuagem" tabindex="-1" role="dialog" aria-labelledby="modalEditarTatuagemLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalEditarTatuagemLabel">Editar Tatuagem</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form method="POST" @submit.prevent="salvarTatuagem">
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-group">
            <img id="imgTatuagem" :src="tattoo.url" width="200px" class="img-rounded img-responsive">
          </div>
          <div class="form-group">
            <input type="file" @change="processFileTattoo">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Adicionar Ocorrencia -->
<div class="modal fade" id="modalAdicionarOcorrencia" tabindex="-1" role="dialog" aria-labelledby="modalAdicionarOcorrenciaLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalAdicionarOcorrenciaLabel">Adicionar Ocorrência</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form method="POST" @submit.prevent="salvarAddOcorrencia('{{ object.pk }}')">
        <div class="modal-body">
          {% csrf_token %}
          <input id="id_ocorrencia_pk" type="hidden" v-model="ocorrencia.pk" />
          <div class="form-group">
            <label for="id_ocorrencia">Ocorrência</label>
            <select id="id_ocorrencia" name="ocorrencia" class="form-control" v-model="ocorrencia.ocorrencia_pk">
              <option value="">---</option>
              <option v-for="ocorrencia in ocorrencias" :key="ocorrencia.pk" :value="ocorrencia.pk">${ ocorrencia.ocorrencia }</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Editar Ocorrencia -->
<div class="modal fade" id="modalEditarOcorrencia" tabindex="-1" role="dialog" aria-labelledby="modalEditarOcorrenciaLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalEditarOcorrenciaLabel">Editar Ocorrência</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form method="POST" @submit.prevent="salvarOcorrencia">
        <div class="modal-body">
          {% csrf_token %}
          <input id="id_ocorrencia_pk" type="hidden" v-model="ocorrencia.pk" />
          <div class="form-group">
            <label for="id_ocorrencia">Ocorrência</label>
            <select id="id_ocorrencia" name="ocorrencia" class="form-control" v-model="ocorrencia.ocorrencia_pk">
              <option value="">---</option>
              <option v-for="ocorrencia in ocorrencias" :key="ocorrencia.pk" :value="ocorrencia.pk">${ ocorrencia.ocorrencia }</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Adicionar Infracao -->
<div class="modal fade" id="modalAdicionarInfracao" tabindex="-1" role="dialog" aria-labelledby="modalAdicionarInfracaoLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalAdicionarInfracaoLabel">Adicionar Infração</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form method="POST" @submit.prevent="salvarAddInfracao('{{ object.pk }}')">
        <div class="modal-body">
          {% csrf_token %}
          <input id="natureza_pk" type="hidden" v-model="infracao.pk" />
          <div class="form-group">
            <label for="id_natureza">Natureza</label>
            <select id="id_natureza" class="form-control" v-model="infracao.natureza_pk">
              <option value="">---</option>
              <option v-for="natureza in naturezas" :value="natureza.value">${ natureza.text }</option>
            </select>
          </div>
          <div class="form-group">
            <label for="id_infracaoqualificacao">Qualificação</label>
            <select id="id_qualificacao" class="form-control" v-model="infracao.qualificacao">
              <option value="">---</option>
              <option v-for="qualificacao in qualificacoes" :value="qualificacao.value">${ qualificacao.text }</option>
            </select>
          </div>
          <div class="form-group">
            <label for="id_arma">Arma</label>
            <select id="id_arma" class="form-control" v-model="infracao.arma_pk">
              <option value="">---</option>
              <option v-for="arma in armas" :value="arma.value">${ arma.text }</option>
            </select>
          </div>
          <div class="form-group">
            <label for="id_status">Status</label>
            <select id="id_status" class="form-control" v-model="infracao.status">
              <option value="">---</option>
              <option v-for="statu in status" :value="statu.value">${ statu.text }</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Editar Infracao -->
<div class="modal fade" id="modalEditarInfracao" tabindex="-1" role="dialog" aria-labelledby="modalEditarInfracaoLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalEditarInfracaoLabel">Editar Infração</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form method="POST" @submit.prevent="salvarInfracao">
        <div class="modal-body">
          {% csrf_token %}
          <input id="natureza_pk" type="hidden" v-model="infracao.pk" />
          <div class="form-group">
            <label for="id_natureza">Natureza</label>
            <select id="id_natureza" class="form-control" v-model="infracao.natureza_pk">
              <option value="">---</option>
              <option v-for="natureza in naturezas" :value="natureza.value">${ natureza.text }</option>
            </select>
          </div>
          <div class="form-group">
            <label for="id_infracaoqualificacao">Qualificação</label>
            <select id="id_qualificacao" class="form-control" v-model="infracao.qualificacao">
              <option value="">---</option>
              <option v-for="qualificacao in qualificacoes" :value="qualificacao.value">${ qualificacao.text }</option>
            </select>
          </div>
          <div class="form-group">
            <label for="id_arma">Arma</label>
            <select id="id_arma" class="form-control" v-model="infracao.arma_pk">
              <option value="">---</option>
              <option v-for="arma in armas" :value="arma.value">${ arma.text }</option>
            </select>
          </div>
          <div class="form-group">
            <label for="id_status">Status</label>
            <select id="id_status" class="form-control" v-model="infracao.status">
              <option value="">---</option>
              <option v-for="statu in status" :value="statu.value">${ statu.text }</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}

{% block js %}
<script>
  $(document).ready(function() {
    $('#id_nascimento').datepicker({
      uiLibrary: 'bootstrap4',
      format: 'dd/mm/yyyy',
    });
  });
</script>
{% endblock js %}

{% block vuejs %}
<script>
  $('.my-collapse').on('shown.bs.collapse', function() {
    $(this).prev().find(".fa").addClass('fa-chevron-up').removeClass('fa-chevron-down');
  });

  $('.my-collapse').on('hidden.bs.collapse', function() {
    $(this).prev().find(".fa").addClass('fa-chevron-down').removeClass('fa-chevron-up');
  });

  $('[for="id_nascimento"]').append('<small class="text-muted">formato dd/mm/YYYY</small>');

  const endpoint = '{{ endpoint }}';
</script>
<script src="{% static 'js/person_detail.js' %}"></script>
{% endblock vuejs %}