{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-plus"></i> Adicionar Pessoa
    </div>
    <div class="card-body">
      <form @submit.prevent="salvar">
        <div class="accordion" id="accordionExample">
          <!-- Pessoa -->
          <div class="card" style="margin-bottom: 0;">
            <div class="card-header" id="heading1" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1" @click="toggleCollapse(1)">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  <span>
                    <i class="fa" :class="v.v1 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                  </span>
                  Pessoa
                </button>
              </h2>
            </div>
            <div id="collapse1" class="my-collapse collapse show" aria-labelledby="heading1" data-parent="#accordionExample">
              <div class="card-body">
                <!-- Pessoa -->
                <div>
                  <div class="form-group">
                    <label for="" class="control-label required">Nome</label>
                    <input id="id_nome" name="nome" v-model="pessoa.nome" class="form-control" required type="text" />
                  </div>
                  <div class="form-group">
                    <label for="" class="control-label required">Sobrenome</label>
                    <input id="id_sobrenome" name="sobrenome" v-model="pessoa.sobrenome" class="form-control" required type="text" />
                  </div>
                  <div class="form-group">
                    <label for="" class="control-label">Apelido</label>
                    <input id="id_apelido" name="apelido" v-model="pessoa.apelido" class="form-control" type="text" />
                  </div>
                  <div class="form-group">
                    <label for="" class="control-label">Mãe</label>
                    <input id="id_mae" name="mae" v-model="pessoa.mae" class="form-control" type="text" />
                  </div>
                  <div class="form-group">
                    <label for="" class="control-label">Pai</label>
                    <input id="id_pai" name="pai" v-model="pessoa.pai" class="form-control" type="text" />
                  </div>
                  <div class="form-group">
                    <label for="faccao">Facção</label>
                    <select id="faccao" class="form-control" v-model="pessoa.faccao">
                      <option selected value="">---</option>
                      <option v-for="faccao in faccoes" :key="faccao.value" :value="faccao.value">${ faccao.text }</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="status_atual">Status atual</label>
                    <select id="status_atual" class="form-control" v-model="pessoa.status_atual">
                      <option selected value="">---</option>
                      <option v-for="status in status_atuais" :key="status.value" :value="status.value">${ status.text }</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="" class="control-label">Data de Nascimento</label>
                    <input id="id_nascimento" name="nascimento" v-model="pessoa.nascimento" class="form-control" type="date" />
                  </div>
                  <div class="form-group ">
                    <label class="control-label">Observações</label>
                    <textarea id="id_observacao" name="observacao" v-model="pessoa.observacao" class="form-control" cols="30" rows="10"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Fotos -->
          <div class="card" style="margin-bottom: 0;">
            <div class="card-header" id="heading4" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4" @click="toggleCollapse(4)">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  <span>
                    <i class="fa" :class="v.v4 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                  </span>
                  Fotos
                </button>
              </h2>
            </div>
            <div id="collapse4" class="my-collapse collapse" aria-labelledby="heading4" data-parent="#accordionExample">
              <div class="card-body">
                <div>
                  <div class="form-row" v-for="foto in fotos">
                    <div class="form-group col-md-3">
                      <label>Foto</label>
                      <input class="form-control" type="file" @change="processFile" />
                    </div>
                  </div> <!-- form-row -->
                  <button type="button" class="btn btn-primary" @click="fotoAdd">
                    <i class="fa fa-plus"></i> Adicionar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Tatuagens -->
          <div class="card" style="margin-bottom: 0;">
            <div class="card-header" id="heading5" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5" @click="toggleCollapse(5)">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  <span>
                    <i class="fa" :class="v.v5 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                  </span>
                  Tatuagens
                </button>
              </h2>
            </div>
            <div id="collapse5" class="my-collapse collapse" aria-labelledby="heading5" data-parent="#accordionExample">
              <div class="card-body">
                <div>
                  <div class="form-row" v-for="tattoo in tattoos">
                    <div class="form-group col-md-3">
                      <label>Tatuagem</label>
                      <input class="form-control" type="file" @change="processFileTattoo" />
                    </div>
                  </div> <!-- form-row -->
                  <button type="button" class="btn btn-primary" @click="tattooAdd">
                    <i class="fa fa-plus"></i> Adicionar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Documentos -->
          <div class="card" style="margin-bottom: 0;">
            <div class="card-header" id="heading2" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2" @click="toggleCollapse(2)">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  <span>
                    <i class="fa" :class="v.v2 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                  </span>
                  Documentos
                </button>
              </h2>
            </div>
            <div id="collapse2" class="my-collapse collapse" aria-labelledby="heading2" data-parent="#accordionExample">
              <div class="card-body">
                <div>
                  <div class="form-group">
                    <label for="id_cpf" class="control-label">CPF (sem pontuação)</label>
                    <input id="id_cpf" name="cpf" v-model="pessoa.cpf" class="form-control" type="text" maxlength="11" />
                  </div>
                  <div class="form-group">
                    <label for="id_rg" class="control-label">RG</label>
                    <input id="id_rg" name="rg" v-model="pessoa.rg" class="form-control" type="text" maxlength="11" />
                  </div>
                  <div class="form-group">
                    <label for="id_cnh" class="control-label">CNH</label>
                    <input id="id_cnh" name="cnh" v-model="pessoa.cnh" class="form-control" type="text" maxlength="20" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Endereço -->
          <div class="card" style="margin-bottom: 0;">
            <div class="card-header" id="heading3" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3" @click="toggleCollapse(3)">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  <span>
                    <i class="fa" :class="v.v3 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                  </span>
                  Endereço
                </button>
              </h2>
            </div>
            <div id="collapse3" class="my-collapse collapse" aria-labelledby="heading3" data-parent="#accordionExample">
              <div class="card-body">
                <div>
                  <div class="form-group">
                    <label for="id_address" class="control-label">Endereço</label>
                    <input id="id_address" name="address" v-model="pessoa.address" class="form-control" type="text" />
                  </div>
                  <div class="form-group">
                    <label for="id_address_number" class="control-label">Número</label>
                    <input id="id_address_number" name="address_number" v-model="pessoa.address_number" class="form-control" type="number" />
                  </div>
                  <div class="form-group">
                    <label for="id_complement" class="control-label">Complemento</label>
                    <input id="id_complement" name="complement" v-model="pessoa.complement" class="form-control" type="text" />
                  </div>
                  <div class="form-group">
                    <label for="id_district">Bairro</label>
                    <select id="id_district" class="form-control" v-model="pessoa.district">
                      <option selected value="">---</option>
                      <option v-for="district in districts" :key="district.value" :value="district.value">${ district.text }</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="id_cep" class="control-label">CEP (sem pontuação)</label>
                    <input id="id_cep" name="cep" v-model="pessoa.cep" class="form-control" type="text" />
                  </div>
                  <div class="form-group">
                    <label for="id_country" class="control-label">País</label>
                    <input id="id_country" name="country" v-model="pessoa.country" class="form-control" type="text" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Infrações -->
          <div class="card" style="margin-bottom: 0;">
            <div class="card-header" id="heading6" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6" @click="toggleCollapse(6)">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  <span>
                    <i class="fa" :class="v.v6 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                  </span>
                  Infrações
                </button>
              </h2>
            </div>
            <div id="collapse6" class="my-collapse collapse" aria-labelledby="heading6" data-parent="#accordionExample">
              <div class="card-body">
                <div>
                  <div class="form-row" v-for="infracao in infracoes" :key="infracao.id">
                    <div class="form-group col-md-3">
                      <label for="natureza">Natureza</label>
                      <select :id="'natureza'+infracao.id" class="form-control" v-model="infracao.natureza">
                        <option selected value="">---</option>
                        <option v-for="natureza in naturezas" :key="natureza.value" :value="natureza.value">${ natureza.text
                          }</option>
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="qualificacao">Qualificação</label>
                      <select :id="'qualificacao'+infracao.id" class="form-control" v-model="infracao.qualificacao">
                        <option selected value="">---</option>
                        <option v-for="qualificacao in qualificacoes" :key="qualificacao.value" :value="qualificacao.value">
                          ${ qualificacao.text }</option>
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="arma">Arma</label>
                      <select :id="'arma'+infracao.id" class="form-control" v-model="infracao.arma">
                        <option selected value="">---</option>
                        <option v-for="arma in armas" :key="arma.value" :value="arma.value">${ arma.text }</option>
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="status">Status</label>
                      <select :id="'status'+infracao.id" class="form-control" v-model="infracao.status">
                        <option selected value="">---</option>
                        <option v-for="status in status" :key="status.value" :value="status.value">${ status.text }</option>
                      </select>
                    </div>
                  </div> <!-- form-row -->
                  <button id="btnInfracao" type="button" class="btn btn-primary" @click="infracaoAdd">
                    <i class="fa fa-plus"></i> Adicionar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Ocorrências -->
          <div class="card" style="margin-bottom: 0;">
            <div class="card-header" id="heading7" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7" @click="toggleCollapse(7)">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  <span>
                    <i class="fa" :class="v.v7 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                  </span>
                  Ocorrências
                </button>
              </h2>
            </div>
            <div id="collapse7" class="my-collapse collapse" aria-labelledby="heading7" data-parent="#accordionExample">
              <div class="card-body">
                <div>
                  <div class="form-row" v-for="ocorrencia in ocorrencias" :key="ocorrencia.id">
                    <div class="form-group col-md-3">
                      <label for="ocorrencia">Ocorrência</label>
                      <select :id="'ocorrencia'+ocorrencia.id" class="form-control" v-model="ocorrencia.ocorrencia">
                        <option selected value="">---</option>
                        <option v-for="ocorrencia in ocorrencias_list" :key="ocorrencia.value" :value="ocorrencia.value">${
                          ocorrencia.text }</option>
                      </select>
                    </div>
                  </div> <!-- form-row -->
                  <button id="btnOcorrencia" type="button" class="btn btn-primary" @click="ocorrenciaAdd">
                    <i class="fa fa-plus"></i> Adicionar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Contatos -->
          <div class="card" style="margin-bottom: 0;">
            <div class="card-header" id="heading8" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8" @click="toggleCollapse(8)">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  <span>
                    <i class="fa" :class="v.v8 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                  </span>
                  Contatos
                </button>
              </h2>
            </div>
            <div id="collapse8" class="my-collapse collapse" aria-labelledby="heading8" data-parent="#accordionExample">
              <div class="card-body">
                <div>
                  <div class="form-row" v-for="contato in contatos" :key="contato.id">
                    <div class="form-group col-md-3">
                      <label for="tipo">Tipo</label>
                      <select :id="'tipo'+contato.id" class="form-control" v-model="contato.tipo">
                        <option v-for="tipo in tipos" :key="tipo.value" :value="tipo.value">${ tipo.text }</option>
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label class="control-label">Telefone</label>
                      <input :id="'telefone'+contato.id" v-model="contato.telefone" class="form-control phone-mask" type="text" maxlength="20" />
                    </div>
                  </div> <!-- form-row -->
                  <button id="btnContato" type="button" class="btn btn-primary" @click="contatoAdd">
                    <i class="fa fa-plus"></i> Adicionar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Comparsas -->
          <div class="card" style="margin-bottom: 0;">
            <div class="card-header" id="heading9" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9" @click="toggleCollapse(9)">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  <span>
                    <i class="fa" :class="v.v9 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                  </span>
                  Comparsas
                </button>
              </h2>
            </div>
            <div id="collapse9" class="my-collapse collapse" aria-labelledby="heading9" data-parent="#accordionExample">
              <div class="card-body">
                <div>
                  <div class="" v-for="comparsa in comparsas" :key="comparsa.id">
                    <div class="form-group">
                      <label class="control-label">Nome</label>
                      <input :id="'comparsa_nome'+comparsa.id" v-model="comparsa.nome" class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                      <label class="control-label">CPF</label>
                      <input :id="'comparsa_cpf'+comparsa.id" v-model="comparsa.cpf" class="form-control" type="text" maxlength="11" />
                    </div>
                    <div class="form-group">
                      <label class="control-label">RG</label>
                      <input :id="'comparsa_rg'+comparsa.id" v-model="comparsa.rg" class="form-control" type="text" maxlength="11" />
                    </div>
                    <div class="form-group">
                      <label class="control-label">CNH</label>
                      <input :id="'comparsa_cnh'+comparsa.id" v-model="comparsa.cnh" class="form-control" type="text" maxlength="20" />
                    </div>
                    <div class="form-group">
                      <div class="checkbox-row">
                        <label class="control-label" style="margin-left: 10px;" title="Escolha se for Parente">Parente</label>
                        <input :id="'comparsa_parente'+comparsa.id" v-model="comparsa.parente" class="form-control" type="checkbox" style="width: 40px;">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Grau de Parentesco</label>
                      <input :id="'comparsa_grau_parentesco'+comparsa.id" v-model="comparsa.grau_parentesco" class="form-control" type="text" maxlength="20" />
                    </div>
                    <div class="form-group">
                      <label class="control-label">Observações</label>
                      <textarea :id="'comparsa_observacao'+comparsa.id" v-model="comparsa.observacao" class="form-control" cols="30" rows="10" maxlength="500"></textarea>
                    </div>
                  </div> <!-- form-row -->
                  <button id="btnComparsa" type="button" class="btn btn-primary" @click="comparsaAdd">
                    <i class="fa fa-plus"></i> Adicionar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Veículos -->
          <div class="card" style="margin-bottom: 0;">
            <div class="card-header" id="heading10" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10" @click="toggleCollapse(10)">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  <span>
                    <i class="fa" :class="v.v10 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                  </span>
                  Veículos
                </button>
              </h2>
            </div>
            <div id="collapse10" class="my-collapse collapse" aria-labelledby="heading10" data-parent="#accordionExample">
              <div class="card-body">
                <div>
                  <div class="form-row" v-for="veiculo in veiculos" :key="veiculo.id">
                    <div class="form-group col-md-4">
                      <label for="veiculo">Veículo</label>
                      <select :id="'veiculo'+veiculo.id" class="form-control" v-model="veiculo.veiculo">
                        <option selected value="">---</option>
                        <option v-for="carro in carros" :key="carro.value" :value="carro.value">${ carro.text }</option>
                      </select>
                    </div>
                  </div> <!-- form-row -->
                  <button id="btnVeiculo" type="button" class="btn btn-primary" @click="veiculoAdd">
                    <i class="fa fa-plus"></i> Adicionar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="float-right mt-3">
          <button class="btn btn-lg btn-success" type="submit">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock content %}

{% block vuejs %}
<script>
const endpoint = '{{ endpoint }}';

$(document).ready(function() {
  $('#telefone1').mask('(00) 00000-0000');
});

$(document).on('click', '#btnContato', function(id) {
  $('.phone-mask').mask('(00) 00000-0000');
});
</script>
<script src="{% static 'js/person_add.js' %}"></script>
{% endblock vuejs %}
