{% extends "base.html" %}
{% block content %}
<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      Pessoas
      <span class="pull-right">10 / 10 items</span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-auto pr-ari-5">
          <a class="btn btn-primary" href="{% url 'pessoa:pessoa_create' %}">
            <i class="fa fa-plus"></i>
            Adicionar
          </a>
        </div>
        <div class="col p-ari-5">
          <input name="search" class="mb-2 form-control" type="text" placeholder="Busca..." />
        </div>
        <div class="col-md-auto p-ari-5">
          <button class="btn btn-success">OK</button>
          <button class="btn btn-link">Limpar</button>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="card">
            <div class="card-header">Selecione um filtro</div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <form action="." method="GET">
                    <fieldset class="form-group">
                      <legend class="col-form-label pt-0">Campo</legend>
                      <select id="" name="" class="form-control">
                        <option value="">---</option>
                        <option value="">A</option>
                      </select>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-9">
          <table class="table table-responsive-sm table-striped">
            <thead>
              <tr>
                <th>Nome/Apelido/Facção/Status</th>
                <th>Foto</th>
                <th>Bairro</th>
                <th>Infrações</th>
              </tr>
            </thead>
            <tbody>
              {% for object in object_list %}
              <tr>
                <td>
                  <a href="{% url 'pessoa:pessoa_detail' object.slug %}">{{ object }}</a>
                  <br>
                  {% if object.apelido %}
                  <span class="text-muted">Apelido: {{ object.apelido }}</span> <br>
                  {% endif %}

                  {% if object.faccao.nome == 'Comando Vermelho' %}
                  <span class="badge badge-danger fs-badge">C.V.</span> <br>
                  {% elif object.faccao.nome == 'ADE' %}
                  <span class="badge badge-dark fs-badge">A.D.E.</span> <br>
                  {% elif object.faccao.nome == 'PCC-Primeiro Comando da Capital' %}
                  <span class="badge badge-warning fs-badge">P.C.C.</span> <br>
                  {% elif object.faccao.nome == 'Não Identificada' %}
                  <span class="badge badge-link fs-badge">Não Identificada</span> <br>
                  {% endif %}

                  {% if object.infracao_set.all.0.status == 'foragido' %}
                  <span class="badge badge-danger">Foragido</span>
                  {% elif object.infracao_set.all.0.status == 'morto' %}
                  <span class="badge badge-secondary">Morto</span>
                  {% elif object.infracao_set.all.0.status == 'preso' %}
                  <span class="badge badge-primary">Preso</span>
                  {% elif object.infracao_set.all.0.status == 'solto' %}
                  <span class="badge badge-warning">Solto</span>
                  {% endif %}
                </td>
                <td>
                  {% if object.get_first_photo %}
                  <img src="{{ object.get_first_photo.foto.url }}" width="100px">
                  {% endif %}
                </td>
                <td>
                  {{ object.district|default:"---" }} <br>
                  <span class="text-muted">{{ object.district.city }}</span>
                </td>
                <td>
                  {{ object.infracao_set.all.0.natureza.natureza.artigo }}
                  {% for infracao in object.infracao_set.all %}
                  <span class="badge badge-info badge-article" data-toggle="tooltip" data-placement="top" title="{{ infracao.natureza }}">{{ infracao.natureza.artigo }}</span>
                  {% endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- pagination -->
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#">Prev</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}