{% extends "base.html" %}
{% block content %}
<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      Pessoas
      <span class="pull-right">10 / 10 items</span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-auto pr-ari-5">
          <a class="btn btn-primary" href="{% url 'pessoa:pessoa_create' %}">
            <i class="fa fa-plus"></i>
            Adicionar
          </a>
        </div>
        <div class="col">
          <form action="." method="GET">
            <div class="row">
              <div class="col p-ari-5">
                <input name="search" class="form-control mb-2" type="text" placeholder="Busca..." />
              </div>
              <div class="col-auto p-ari-5">
                <button class="btn btn-success mb-2" type="submit">OK</button>
                <button class="btn btn-link mb-2">Limpar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="card">
            <div class="card-header">Selecione um filtro</div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <form id="formFilter" action="." method="GET">

                    <fieldset class="form-group">
                      <legend class="col-form-label pt-0">Status</legend>
                      <select id="filterStatusAtual" name="filter_status_atual" class="form-control">
                        <option value="">---</option>
                        {% for item in status_atuais %}
                        {% if selected_status_atual == item.value %}
                        <option value="{{ item.value }}" selected>{{ item.text }}</option>
                        {% else %}
                        <option value="{{ item.value }}">{{ item.text }}</option>
                        {% endif %}
                        {% endfor %}
                      </select>
                    </fieldset>

                    <fieldset class="form-group">
                      <legend class="col-form-label pt-0">Natureza</legend>
                      <select id="filterNatureza" name="filter_natureza" class="form-control">
                        <option value="">---</option>
                        {% for item in naturezas %}
                        {% if selected_natureza == item.value %}
                        <option value="{{ item.value }}" selected>{{ item.text }}</option>
                        {% endif %}
                        <option value="{{ item.value }}">{{ item.text }}</option>
                        {% endfor %}
                      </select>
                    </fieldset>

                    <fieldset class="form-group">
                      <legend class="col-form-label pt-0">Bairro</legend>
                      <select id="filterBairro" name="filter_bairro" class="form-control">
                        <option value="">---</option>
                        {% for item in bairros %}
                        {% if selected_bairro == item.value %}
                        <option value="{{ item.value }}" selected>{{ item.text }}</option>
                        {% endif %}
                        <option value="{{ item.value }}">{{ item.text }}</option>
                        {% endfor %}
                      </select>
                    </fieldset>

                    <fieldset class="form-group">
                      <legend class="col-form-label pt-0">Cidade</legend>
                      <select id="filterCidade" name="filter_cidade" class="form-control">
                        <option value="">---</option>
                        {% for item in cidades %}
                        {% if selected_cidade == item.value %}
                        <option value="{{ item.value }}" selected>{{ item.text }}</option>
                        {% endif %}
                        <option value="{{ item.value }}">{{ item.text }}</option>
                        {% endfor %}
                      </select>
                    </fieldset>

                    <fieldset class="form-group">
                      <legend class="col-form-label pt-0">Facção</legend>
                      <select id="filterFaccao" name="filter_faccao" class="form-control">
                        <option value="">---</option>
                        {% for item in faccoes %}
                        {% if selected_faccao == item.value %}
                        <option value="{{ item.value }}" selected>{{ item.text }}</option>
                        {% endif %}
                        <option value="{{ item.value }}">{{ item.text }}</option>
                        {% endfor %}
                      </select>
                    </fieldset>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-9">
          <table class="table table-responsive-sm table-striped">
            <thead>
              <tr>
                <th>Nome/Apelido/Facção/Status</th>
                <th>Foto</th>
                <th>Bairro</th>
                <th>Infrações</th>
              </tr>
            </thead>
            <tbody>
              {% for object in object_list %}
              <tr>
                <td>
                  <a href="{% url 'pessoa:pessoa_detail' object.slug %}">{{ object }}</a>
                  <br>
                  {% if object.apelido %}
                  <span class="text-muted">Apelido: {{ object.apelido }}</span> <br>
                  {% endif %}
                  {% if object.faccao.nome == 'Comando Vermelho' %}
                  <span class="badge badge-danger fs-badge">C.V.</span> <br>
                  {% elif object.faccao.nome == 'ADE' %}
                  <span class="badge badge-dark fs-badge">A.D.E.</span> <br>
                  {% elif object.faccao.nome == 'PCC-Primeiro Comando da Capital' %}
                  <span class="badge badge-warning fs-badge">P.C.C.</span> <br>
                  {% elif object.faccao.nome == 'Não Identificada' %}
                  <span class="badge badge-link fs-badge">Não Identificada</span> <br>
                  {% endif %}
                  {% if object.status_atual == 'foragido' %}
                  <span class="badge badge-danger">Foragido</span>
                  {% elif object.status_atual == 'morto' %}
                  <span class="badge badge-secondary">Morto</span>
                  {% elif object.status_atual == 'preso' %}
                  <span class="badge badge-primary">Preso</span>
                  {% elif object.status_atual == 'solto' %}
                  <span class="badge badge-warning">Solto</span>
                  {% endif %}
                </td>
                <td>
                  {% if object.get_first_photo %}
                  <img src="{{ object.get_first_photo.foto.url }}" width="100px">
                  {% endif %}
                </td>
                <td>
                  {{ object.district|default:"---" }} <br>
                  <span class="text-muted">{{ object.district.city }}</span>
                </td>
                <td>
                  {{ object.infracao_set.all.0.natureza.natureza.artigo }}
                  {% for infracao in object.infracao_set.all %}
                  <span class="badge badge-info badge-article" data-toggle="tooltip" data-placement="top" title="{{ infracao.natureza }}">{{ infracao.natureza.artigo }}</span>
                  {% endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- pagination -->
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#">Prev</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
$(document).ready(function() {
  $('#filterNatureza').val('{{ selected_natureza }}');
  $('#filterBairro').val('{{ selected_bairro }}');
  $('#filterCidade').val('{{ selected_cidade }}');
  $('#filterFaccao').val('{{ selected_faccao }}');
});

$(function() {
  $('[data-toggle="tooltip"]').tooltip()
});

$('#filterStatusAtual').on('change', function() {
  $('#formFilter').submit();
});

$('#filterNatureza').on('change', function() {
  $('#formFilter').submit();
});

$('#filterBairro').on('change', function() {
  $('#formFilter').submit();
});

$('#filterFaccao').on('change', function() {
  $('#formFilter').submit();
});

$('#filterCidade').on('change', function() {
  $('#formFilter').submit();
});

// let path = "{ url 'pessoa:report_pessoas' %}"

// let query_string = "{{ request.GET.urlencode }}"

// if (query_string) {
//   path = "{ url 'pessoa:report_pessoas' %}" + "?" + query_string
// }

function printDiv(divName) {
  window.open(path)
};
</script>
{% endblock js %}