{% extends "base.html" %}

{% block title %}| Veículos{%endblock%}

{% block breadcrumbs %}
  {% include "breadcrumb/_include_breadcrumb_base.html" %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="row cols">
    <div class="col-md-6">
      <form method="GET">
        <label class="sr-only" for="inlineFormInputGroup">Username</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-search"></i></div>
          </div>
          <input type="text" class="form-control" name="search" placeholder="Localizar...">
          <input type="submit" class="btn btn-success ml-2" value="OK"></button>
          <a href="." class="btn btn-link">Limpar</a>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <a class="btn btn-primary" href="{% url 'veiculo:veiculo_create' %}">Adicionar</a>
      <a class="btn btn-link" href="{% url 'veiculo:modelos' %}">Visualizar modelos</a>
    </div>
  </div>

  <h4>Veículos</h4>

  <table class="table">
    <thead>
      <tr>
        <th>Placa</th>
        <th>Modelo</th>
        <th>Cor</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>{{ object.placa }}</td>
          <td>{{ object.modelo }}</td>
          <td>{{ object.cor }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}