{% extends "base_report.html" %}

{% block title %}| Pessoa{%endblock%}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th>Nome completo</th>
      <th>Documento</th>
      <th>Foto</th>
      <th>Apelido</th>
      <th>Facção</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Infrações</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          {{ object }}
        </td>
        <td>
          {% if object.rg %}
            RG: {{ object.rg }}
          {% endif %}
          {% if object.cpf %}
            <br>CPF: {{ object.cpf }}
          {% endif %}
        </td>
        <td>
          {% if object.get_first_photo %}
            <img src="{{ object.get_first_photo.foto.url }}" width="100px">
          {% endif %}
        </td>
        <td>{{ object.apelido|default:"---" }}</td>
        <td>{{ object.faccao|default:"---" }}</td>
        <td>{{ object.district|default:"---" }}</td>
        <td>{{ object.city|default:"---" }}</td>
        <td>
          {% for infracao in object.infracao_set.all %}
            <span>{{ infracao.natureza.artigo }}{% if not forloop.last %},{% endif %}</span>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}

{% block js %}
    <script>
      window.onload = function () {
        window.print();

        setTimeout(() => {
          window.close();
        }, 2000);
      };
  </script>
{% endblock js %}