{% extends "base_report.html" %}
{% load easy_mask %}

{% block title %}Relatorio-{{ today|date:"Y-m-d" }}{%endblock%}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th>Nome completo</th>
      <th>Documento</th>
      <th>Foto</th>
      <th>Status</th>
      <th>Apelido</th>
      <th>Facção</th>
      <th>Bairro/Cidade</th>
      <th>Infrações</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          {{ object }}
        </td>
        <td style="width: 200px;">
          {% if object.rg %}
            <small>RG:</small> {{ object.rg }}
          {% endif %}
          {% if object.cpf %}
            <br><small>CPF:</small> {{ object.cpf|cpf_mask }}
          {% endif %}
        </td>
        <td>
          {% if object.get_first_photo %}
            <img src="{{ object.get_first_photo.foto.url }}" width="100px">
          {% endif %}
        </td>
        <td>{{object.infracao_set.all.0.status|default:"---"}}</td>
        <td>{{ object.apelido|default:"---" }}</td>
        <td>{{ object.faccao|default:"---" }}</td>
        <td>
          {% if object.district %}
            <small>Bairro</small><br> {{ object.district }}<br>
          {% endif %}

          {% if object.city %}
            <small>Cidade:</small><br> {{ object.city }}
          {% endif %}
        <td>
          {% for infracao in object.infracao_set.all %}
            <span>{{ infracao.natureza.artigo }}{% if not forloop.last %},{% endif %}</span>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}

{% block js %}
    <script>
      window.onload = function () {
        window.print();

        setTimeout(() => {
          window.close();
        }, 2000);
      };
  </script>
{% endblock js %}