{%extends 'baseinfracao.html'%}
{% load bootstrap%}
{% block title %}Cadastro de Infração{%endblock%}
{%block content%}
<div class='container'>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="card">
            <div class="card-body">

            <h1>Cadastre a Infração</h1>
            {{form_infracao |bootstrap}}
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <h1>Modus Operando</h1>
                {{form_modusoperandi|bootstrap}}

            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
            <h1>Infração</h1>
            {{form_ocorrencia|bootstrap}}

            </div>
        </div>
        <br>
        <button id="submit" class="btn btn-secondary" type="submit">Salvar</button>
    </form>
    <br>
    <div id="mensagem">
				{% for message in messages %}
  					{% if 'success' in message.tags %}
 					 <p class="alert alert-success" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
 						 {% else %}
 						 <p class="alert alert-warning" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
  							{% endif %}
							{% endfor %}
			</div>



</div>

{%endblock%}