{% extends "base.html" %}
{% block title %}| Homicídios{%endblock%}
{% block breadcrumbs %}
{% include "breadcrumb/_include_breadcrumb_base.html" %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row cols">
        <div class="col-md-6">
            <form method="GET">
                <label class="sr-only" for="inlineFormInputGroup">Username</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-search"></i></div>
                    </div>
                    <input type="text" class="form-control" name="search" placeholder="Localizar...">
                    <input type="submit" class="btn btn-success ml-2" value="OK"></button>
                    <a href="." class="btn btn-link">Limpar</a>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary" href="{% url 'ocorrencia:homicidio_create' %}">Adicionar</a>
            <button class="btn btn-warning" onclick="printDiv('printme')">PDF</button>
        </div>
    </div>
    <!-- Filtros de Homicidios  -->
    <!-- <div class="collapse" id="collapseFiltro"> -->
    <div class="card card-body">

        <form id="formFilter" method="GET">
            <div class="row">

                <div class="col-sm">
                    <h6>Filtrar por Bairro</h6>

                    <select id="filterBairro" name="filter_bairro" class="form-control">
                        <option value="">Todos</option>
                        {% for bairro in bairros %}
                        <option value="{{ bairro }}">{{ bairro }}</option>
                        {% endfor %}
                    </select>

                </div>

                <div class="col-sm">
                    <h6>Filtrar por Forma</h6>

                    <select id="filterForma" name="filter_forma" class="form-control">
                        <option value="">Todos</option>
                        {% for forma in formas %}
                        <option value="{{ forma }}">{{ forma }}</option>
                        {% endfor %}
                    </select>
                </div>


                <!-- Filtrar por Aréa -->
                <div class="row">
                    <div class="col-sm">
                        <h6>Filtrar por Area</h6>
                        <select id="filterAreaUpm" name="filter_area_upm" class="form-control">
                            <option value="">Todos</option>
                            {% for area_upm in area_upms %}
                            <option value="{{ area_upm.0 }}">{{ area_upm.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <!-- </div> -->


    <h4>Homicídios</h4>
    <table class="table">
        <thead>
            <tr>
                <th>RAI</th>
                <th>Data do Homicídio</th>
                <th>Forma</th>
                <th>Área UPM</th>
                <th>Vítima</th>
                <th>Instrumento</th>
                <th>Motivação</th>
                <th>Autoria</th>
                <th>Gênero</th>
                <th>Bairro</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.rai }}</td>
                <td>{{ object.data_do_homicidio }}</td>
                <td>{{ object.get_forma_display }}</td>
                <td>{{ object.area_upm }}</td>
                <td>{{ object.vitima }}</td>
                <td>{{ object.instrumento }}</td>
                <td>{{ object.motivacao }}</td>
                <td>{{ object.autoria|default:"---" }}</td>
                <td>{{ object.genero|default:"---" }}</td>
                <td>{{ object.district|default:"---" }}</td>
                <td>
                    <a class="btn btn-info" href="{% url 'ocorrencia:homicidio_update' object.slug %}">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include "includes/pagination.html" %}
{% endblock content %}



{% block js %}

<script>

    $(document).ready(function () {
        $('#filterAreaUpm').val('{{ selected_area_upm }}');
        $('#filterBairro').val('{{ selected_bairro }}');
        $('#filterForma').val('{{ selected_forma }}');
        $('#filterFaccao').val('{{ selected_faccao }}');
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $('#filterAreaUpm').on('change', function () {
        $('#formFilter').submit();
    });

    $('#filterBairro').on('change', function () {
        $('#formFilter').submit();
    });

    $('#filterForma').on('change', function () {
        $('#formFilter').submit();
    });

    $('#filterCidade').on('change', function () {
        $('#formFilter').submit();
    });

    let path = "{% url 'ocorrencia:report_homicidios' %}"

    let query_string = "{{ request.GET.urlencode }}"

    if (query_string) {
        path = "{% url 'ocorrencia:report_homicidios' %}" + "?" + query_string
    }


    function printDiv(divName) {
        window.open(path)
    }

    $('#collapseFiltro').collapse({
        toggle: true
    })

</Script>





{%endblock js%}