{% extends "base.html" %}
{% block title %}| Infrações{%endblock%}

{% block content %}

<div class="container">
  <div>
    <a class="btn btn-primary" href="{ url 'ocorrencia:infracao_create' %}">Adicionar</a>
  </div>

  <h4>Infrações</h4>

  <table class="table">
    <thead>
      <tr>
        <th>Infração</th>
        <th>Natureza</th>
        <th>Qualificação</th>
        <th>Arma de fogo</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>
            <a href="{ url 'ocorrencia:infracao' object.pk %}">{{ object }}</a>
          </td>
          <td>{{ object.natureza }}</td>
          <td>{{ object.get_qualificacao_display }}</td>
          <td>{{ object.arma }}</td>
          <td>{{ object.get_status_display }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}