{% extends "base.html" %}

{% block title %}| Infrações{%endblock%}

{% block breadcrumbs %}
  {% include "breadcrumb/_include_breadcrumb_base.html" %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="row cols">
    <div class="col-md-6">
      <form method="GET">
        <label class="sr-only" for="inlineFormInputGroup">Username</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-search"></i></div>
          </div>
          <input type="text" class="form-control" name="search" placeholder="Localizar...">
          <input type="submit" class="btn btn-success ml-2" value="OK"></button>
          <a href="." class="btn btn-link">Limpar</a>
        </div>
      </form>
    </div>
    <div class="col-md-3">
      <a class="btn btn-primary" href="{% url 'ocorrencia:infracao_create' %}">Adicionar</a>
    </div>
  </div>

  <h4>Infrações</h4>

  <table class="table">
    <thead>
      <tr>
        <th>Infração</th>
        <th>Natureza</th>
        <th>Qualificação</th>
        <th>Arma de fogo</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>{{ object.pessoa }}</td>
          <td>{{ object.natureza }}</td>
          <td>{{ object.get_qualificacao_display }}</td>
          <td>{{ object.arma }}</td>
          <td>{{ object.get_status_display }}</td>
          <td>
            <a class="btn btn-info" href="{% url 'ocorrencia:infracao_update' object.slug %}">Editar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}