{% extends "base.html" %}

{% block title %}| Naturezas{%endblock%}

{% block breadcrumbs %}
  {% include "breadcrumb/_include_breadcrumb_base.html" %}
{% endblock %}

{% block content %}

<div class="container">
  <div>
    <a class="btn btn-primary" href="{% url 'ocorrencia:natureza_create' %}">Adicionar</a>
  </div>

  <h4>Naturezas</h4>

  <table class="table">
    <thead>
      <tr>
        <th>Natureza</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>{{ object }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}