{% extends 'basepessoas.html'%}
{% load bootstrap %}

{% block title %}Update Pessoa{%endblock%}
{%block content%}
<form id="formularioeditar" method="POST">
    {% csrf_token %}
    <div class="container">
        <p> <h5>Atualizar dados da Pessoa</h5> </p>

        <div class="form-group">
            
                {{formeditarpessoa|bootstrap}}
            
        </div>
        <br>
              <div >
                   <div class="row">
                     <button id="btneditar" class="btn btn-secondary" type="submit" >Salvar Edição</button>
                    </div>
               </div>
               <br>
               <br>
    </div>
</form>



{%endblock%}