{% extends 'basepessoa.html'%}
{% load bootstrap %}

{% block title %}Cadastro de Pessoas{%endblock%}
{%block content%}

	



<div class='container'>


	<form method="post" id="formulariopessoa"  enctype="multipart/form-data"  >
			{% csrf_token %}

		
			<a class="btn btn-primary" data-toggle="collapse" href="#multicoppapse7" role="button" aria-expanded="true"
				aria-controls="multicoppapse">Foto </a>
			<div class="row">
			
				<div class="col">
			
					<div class="collapse multi-collapse" id="multicoppapse7">
						<br>
						<div class="card">
			
							{{form_foto |bootstrap}}
						</div>
					</div>
				</div>
			</div>
			<br>
		<div>
			<a class="btn btn-primary" data-toggle="collapse" href="#multicoppapse" role="button"
				aria-expanded="true" aria-controls="multicoppapse">Dados da Pessoa</a>
			<div class="row">

				<div class="col">

					<div class="collapse multi-collapse" id="multicoppapse">
						<br>
						<div class="card" >

							{{ form_pessoa|bootstrap }}
						</div>
					</div>
				</div>
			</div>
		</div>
			<br>
			<div>
				<a class="btn btn-primary" data-toggle="collapse" href="#multicoppapse2" role="button"
					aria-expanded="false" aria-controls="multicoppapse">Contatos</a>
				<div class="row">

					<div class="col">

						<div class="collapse multi-collapse" id="multicoppapse2">
							<br>
							<div>

								{{ form_contato|bootstrap }}
							</div>
						</div>
					</div>
				</div>
			</div>
				<br>

			<div>
				<a class="btn btn-primary" data-toggle="collapse" href="#multicoppapse4" role="button"
					aria-expanded="false" aria-controls="multicoppapse">Endereços</a>
				<div class="row">

					<div class="col">

						<div class="collapse multi-collapse" id="multicoppapse4">
							<br>
							<div>

								{{ form_endereco|bootstrap }}
							</div>
						</div>
					</div>
				</div>
			</div>

			<br>

		    <div>
			   <a class="btn btn-primary" data-toggle="collapse" href="#multicoppapse5" role="button" aria-expanded="false"
				aria-controls="multicoppapse">Comparsas</a>
			        <div class="row">

				      <div class="col">

					      <div class="collapse multi-collapse" id="multicoppapse5">
						     <br>
						   <div>

							   {{ form_comparsa|bootstrap }}
						   </div>
					     </div>
				      </div>
			       </div>
			</div>

			<br>

			<div>
				<a class="btn btn-primary" data-toggle="collapse" href="#multicoppapse6" role="button" aria-expanded="false"
					aria-controls="multicoppapse">Tatuagem</a>
				<div class="row">

					<div class="col">

						<div class="collapse multi-collapse" id="multicoppapse6">
							<br>
							<div>

								{{ form_tatuagem|bootstrap }}
							</div>
						</div>
					</div>
				</div>
			</div>
			   
			<br>
			      
		      
			

           <div class="container">
	           <div class="row">
	             <button id="btnsalvar" class="btn btn-secondary" type="submit" >Salvar</button>
	            </div>
		  </div>
		 <br>








   </form>
			<div id="mensagem">
				{% for message in messages %}
  					{% if 'success' in message.tags %}
 					 <p class="alert alert-success" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
 						 {% else %}
 						 <p class="alert alert-warning" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
  							{% endif %}
							{% endfor %}
			</div>

</div>

<br>
<div class="container">
<div class="clearfix">

  <a class="btn btn-primary" href="{% url 'infracao' %}" role="button">Cadastrar Infração</a>
  <a class="btn btn-primary" href="{% url 'infracao' %}" role="button">Cadastrar Ocorrência</a>
  <a class="btn btn-primary" href="{% url 'infracao' %}" role="button">Cadastrar veículo</a>
</div>
</div>
<br>
<br>
<br>
{%endblock%}