{% extends "base.html" %}
{% block title %}| Pessoa{%endblock%}

{% block style %}
  <style>
    label.required:after {
      content: '*';
      color: red;
    }
  </style>
{% endblock style %}

{% block content %}
<div class="container">
  <h4>Adicionar Pessoas</h4>
  <form @submit.prevent="salvar">

  <div class="accordion" id="accordionExample">
    <!-- Pessoa -->
    <div class="card">
      <div class="card-header" id="heading1">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
            <span><i class="fa fa-chevron-up"></i></span>
            Pessoa
          </button>
        </h2>
      </div>
      <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample">
        <div class="card-body">
          <div>

              <!-- Pessoa -->
              <div class="form-group">
                <label for="" class="control-label required">Nome</label>
                <input id="id_nome" name="nome" v-model="pessoa.nome" class="form-control" required type="text" />
              </div>

              <div class="form-group">
                <label for="" class="control-label required">Sobrenome</label>
                <input id="id_sobrenome" name="sobrenome" v-model="pessoa.sobrenome" class="form-control" required type="text" />
              </div>

              <div class="form-group">
                <label for="" class="control-label">Apelido</label>
                <input id="id_apelido" name="apelido" v-model="pessoa.apelido" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="" class="control-label">Mãe</label>
                <input id="id_mae" name="mae" v-model="pessoa.mae" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="" class="control-label">Pai</label>
                <input id="id_pai" name="pai" v-model="pessoa.pai" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="faccao">Facção</label>
                <select id="faccao" class="form-control" v-model="pessoa.faccao">
                  <option selected value="">---</option>
                  <option v-for="faccao in faccoes" :key="faccao.value" :value="faccao.value">${ faccao.text }</option>
                </select>
              </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Documentos -->
    <div class="card">
      <div class="card-header" id="heading2">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
            <span><i class="fa fa-chevron-down"></i></span>
            Documentos
          </button>
        </h2>
      </div>
      <div id="collapse1" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
        <div class="card-body">
          <div>

              <div class="form-group">
                <label for="id_cpf" class="control-label">CPF</label>
                <input id="id_cpf" name="cpf" v-model="pessoa.cpf" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="id_rg" class="control-label">RG</label>
                <input id="id_rg" name="rg" v-model="pessoa.rg" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="id_cnh" class="control-label">CNH</label>
                <input id="id_cnh" name="cnh" v-model="pessoa.cnh" class="form-control" type="text" />
              </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Endereço -->
    <div class="card">
      <div class="card-header" id="heading3">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
            <span><i class="fa fa-chevron-down"></i></span>
            Endereço
          </button>
        </h2>
      </div>
      <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
        <div class="card-body">
          <div>

              <div class="form-group">
                <label for="id_address" class="control-label">Endereço</label>
                <input id="id_address" name="address" v-model="pessoa.address" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="id_address_number" class="control-label">Número</label>
                <input id="id_address_number" name="address_number" v-model="pessoa.address_number" class="form-control" type="number" />
              </div>

              <div class="form-group">
                <label for="id_complement" class="control-label">Complemento</label>
                <input id="id_complement" name="complement" v-model="pessoa.complement" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="id_district" class="control-label">Bairro</label>
                <input id="id_district" name="district" v-model="pessoa.district" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="id_city" class="control-label">Cidade</label>
                <input id="id_city" name="city" v-model="pessoa.city" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="uf">UF</label>
                <select id="uf" class="form-control" v-model="pessoa.uf">
                  <option selected value="">---</option>
                  <option v-for="uf in ufs" :key="uf.value" :value="uf.value">${ uf.text }</option>
                </select>
              </div>

              <div class="form-group">
                <label for="id_cep" class="control-label">CEP</label>
                <input id="id_cep" name="cep" v-model="pessoa.cep" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="id_country" class="control-label">País</label>
                <input id="id_country" name="country" v-model="pessoa.country" class="form-control" type="text" />
              </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Fotos -->
    <div class="card">
      <div class="card-header" id="heading8">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
            <span><i class="fa fa-chevron-down"></i></span>
            Fotos
          </button>
        </h2>
      </div>
      <div id="collapse8" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
        <div class="card-body">
          <div>

              <div class="form-row" v-for="foto in fotos">

                <div class="form-group col-md-3">
                  <label for="natureza">Foto</label>
                  <input class="form-control" type="file" @change="processFile" />
                </div>

              </div> <!-- form-row -->

              <button type="button" class="btn btn-primary" @click="fotoAdd">
                <i class="fa fa-plus"></i> Adicionar
              </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Infrações -->
    <div class="card">
      <div class="card-header" id="heading4">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
            <span><i class="fa fa-chevron-down"></i></span>
            Infrações
          </button>
        </h2>
      </div>
      <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
        <div class="card-body">
          <div>

              <div class="form-row" v-for="infracao in infracoes">

                <div class="form-group col-md-3">
                  <label for="natureza">Natureza</label>
                  <select id="natureza" class="form-control" v-model="infracao.natureza">
                    <option selected value="">---</option>
                    <option v-for="natureza in naturezas" :key="natureza.value" :value="natureza.value">${ natureza.text }</option>
                  </select>
                </div>

                <div class="form-group col-md-3">
                  <label for="qualificacao">Qualificação</label>
                  <select id="qualificacao" class="form-control" v-model="infracao.qualificacao">
                    <option selected value="">---</option>
                    <option v-for="qualificacao in qualificacoes" :key="qualificacao.value" :value="qualificacao.value">${ qualificacao.text }</option>
                  </select>
                </div>

                <div class="form-group col-md-3">
                  <label for="arma">Arma</label>
                  <select id="arma" class="form-control" v-model="infracao.arma">
                    <option selected value="">---</option>
                    <option v-for="arma in armas" :key="arma.value" :value="arma.value">${ arma.text }</option>
                  </select>
                </div>

                <div class="form-group col-md-3">
                  <label for="status">Status</label>
                  <select id="status" class="form-control" v-model="infracao.status">
                    <option selected value="">---</option>
                    <option v-for="status in status" :key="status.value" :value="status.value">${ status.text }</option>
                  </select>
                </div>

              </div> <!-- form-row -->

              <button type="button" class="btn btn-primary" @click="infracaoAdd">
                <i class="fa fa-plus"></i> Adicionar
              </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Ocorrências -->
    <div class="card">
      <div class="card-header" id="heading5">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
            <span><i class="fa fa-chevron-down"></i></span>
            Ocorrências
          </button>
        </h2>
      </div>
      <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
        <div class="card-body">
          <div>
              <div class="form-row" v-for="ocorrencia in ocorrencias">

                <div class="form-group col-md-3">
                  <label for="ocorrencia">Ocorrência</label>
                  <select id="ocorrencia" class="form-control" v-model="ocorrencia.ocorrencia">
                    <option selected value="">---</option>
                    <option v-for="ocorrencia in ocorrencias_list" :key="ocorrencia.value" :value="ocorrencia.value">${ ocorrencia.text }</option>
                  </select>
                </div>

              </div> <!-- form-row -->

              <button type="button" class="btn btn-primary" @click="ocorrenciaAdd">
                <i class="fa fa-plus"></i> Adicionar
              </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Contatos -->
    <div class="card">
      <div class="card-header" id="heading6">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
            <span><i class="fa fa-chevron-down"></i></span>
            Contatos
          </button>
        </h2>
      </div>
      <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
        <div class="card-body">
          <div>

              <div class="form-row" v-for="contato in contatos">

                <div class="form-group col-md-3">
                  <label for="tipo">Tipo</label>
                  <select id="tipo" class="form-control" v-model="contato.tipo">
                    <option v-for="tipo in tipos" :key="tipo.value" :value="tipo.value">${ tipo.text }</option>
                  </select>
                </div>

                <div class="form-group col-md-3">
                  <label class="control-label required">Telefone</label>
                  <input v-model="contato.telefone" class="form-control" type="text" />
                </div>

              </div> <!-- form-row -->

              <button type="button" class="btn btn-primary" @click="contatoAdd">
                <i class="fa fa-plus"></i> Adicionar
              </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Veículos -->
    <div class="card">
      <div class="card-header" id="heading7">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
            <span><i class="fa fa-chevron-down"></i></span>
            Veículos
          </button>
        </h2>
      </div>
      <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
        <div class="card-body">
          <div>
              <div class="form-row" v-for="veiculo in veiculos">

                <div class="form-group col-md-4">
                  <label for="veiculo">Veículo</label>
                  <select id="veiculo" class="form-control" v-model="veiculo.veiculo">
                    <option selected value="">---</option>
                    <option v-for="carro in carros" :key="carro.value" :value="carro.value">${ carro.text }</option>
                  </select>
                </div>

              </div> <!-- form-row -->

              <button type="button" class="btn btn-primary" @click="veiculoAdd">
                <i class="fa fa-plus"></i> Adicionar
              </button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="float-right mt-3">
    <button class="btn btn-lg btn-success" type="submit">Salvar</button>
  </div>

</form>
</div>
{% endblock content %}

{% block vuejs %}
  <script>
    axios.defaults.xsrfHeaderName = 'X-CSRFToken'
    axios.defaults.xsrfCookieName = 'csrftoken'

    // const endpoint = 'http://localhost:8000/'
    // const endpoint = 'https://sistema-int.herokuapp.com/'
    const endpoint = '{{ endpoint }}'

    var app = new Vue({
      el: '#app',
      delimiters: ['${', '}'],
      data: {
        pessoa: {
          'nome': '',
          'sobrenome': '',
          'apelido': '',
          'mae': '',
          'pai': '',
          'faccao': '',
          'cpf': '',
          'rg': '',
          'cnh': '',
          'address': '',
          'address_number': '',
          'complement': '',
          'district': '',
          'city': '',
          'uf': '',
          'cep': '',
          'country': 'Brasil',
        },
        pessoas: [],
        faccoes: [],
        naturezas: [],
        qualificacoes: [],
        armas: [],
        status: [],
        ufs: [],
        photos: [],
        fotos: [
          {
            'foto': '',
          }
        ],
        infracoes: [
          {
            'natureza': '',
            'qualificacao': '',
            'arma': '',
            'status': '',
          }
        ],
        carros: [],
        veiculos: [
          {
            'veiculo': ''
          }
        ],
        ocorrencias_list: [],
        ocorrencias: [
          {
            'ocorrencia': ''
          }
        ],
        tipos: [],
        contatos: [
          {
            'tipo': '',
            'telefone': '',
          }
        ]
      },
      created() {
        axios.get(endpoint + 'api/naturezas/')
        .then(response => {
          this.naturezas = response.data.data;
        })

        axios.get(endpoint + 'api/faccoes/')
        .then(response => {
          this.faccoes = response.data.data;
        })

        axios.get(endpoint + 'api/qualificacoes/')
        .then(response => {
          this.qualificacoes = response.data.data;
        })

        axios.get(endpoint + 'api/armas/')
        .then(response => {
          this.armas = response.data.data;
        })

        axios.get(endpoint + 'api/status/')
        .then(response => {
          this.status = response.data.data;
        })

        axios.get(endpoint + 'api/veiculos/')
        .then(response => {
          this.carros = response.data.data;
        })

        axios.get(endpoint + 'api/ocorrencias/')
        .then(response => {
          this.ocorrencias_list = response.data.data;
        })

        axios.get(endpoint + 'api/tipo_telefone/')
        .then(response => {
          this.tipos = response.data.data;
        })

        axios.get(endpoint + 'api/ufs/')
        .then(response => {
          this.ufs = response.data.data;
        })

      },
      methods: {
        fotoAdd() {
          this.fotos.push(
            {
              'foto': '',
            }
          )
        },
        infracaoAdd() {
          this.infracoes.push(
            {
              'natureza': '',
              'qualificacao': '',
              'arma': '',
              'status': '',
            }
          )
        },
        ocorrenciaAdd() {
          this.ocorrencias.push(
            {
              'ocorrencia': '',
            }
          )
        },
        contatoAdd() {
          this.contatos.push(
            {
              'tipo': '',
              'telefone': '',
            }
          )
        },
        veiculoAdd() {
          this.veiculos.push(
            {
              'veiculo': '',
            }
          )
        },
        processFile: function(e) {
          this.photos.push(e.target.files[0])
          console.log(this.photos);
        },
        salvar(e) {
          let bodyFormData = new FormData();
          bodyFormData.append('pessoa', JSON.stringify(this.pessoa));

          this.photos.forEach((file, i) => {
            bodyFormData.append('photos[' + i + ']', file);
          });

          bodyFormData.append('infracoes', JSON.stringify(this.infracoes));
          bodyFormData.append('ocorrencias', JSON.stringify(this.ocorrencias));
          bodyFormData.append('contatos', JSON.stringify(this.contatos));
          bodyFormData.append('veiculos', JSON.stringify(this.veiculos));

          axios.post(endpoint + 'api/pessoas/add/', bodyFormData, {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
            .then(response => {
              location.href = endpoint + 'pessoa/'
            })
        }
      }
    });
  </script>
{% endblock vuejs %}