{% extends "base.html" %}
{% load easy_mask %}
{% load widget_tweaks %}

{% block title %}| Pessoa{%endblock%}

{% block breadcrumbs %}
  {% include "breadcrumb/_include_breadcrumb_base_detail.html" %}
{% endblock %}

{% block style %}
  <style>
    .glyphicon {  margin-bottom: 10px;margin-right: 10px;}

    small {
      display: block;
      line-height: 1.428571429;
      color: #999;
    }
  </style>
{% endblock style %}

{% block content %}
<div class="container">
  <div class="accordion accordion-icons" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button">
            <span><i class="fa fa-chevron-up"></i></span>
            Detalhes
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="my-collapse collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row row-cols-1 row-cols-md-3">
            <div class="col-sm-6 text-left mb-4">
              <div class="card">
                <div class="card-body">

                  <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                          {% if object.get_first_photo %}
                            <img src="{{ object.get_first_photo.foto.url }}" width="200px" class="img-rounded img-responsive">
                          {% endif %}
                        </div>
                        <div class="col-sm-6 col-md-6">
                          <h2>{{ object }}</h2>
                          <p class="card-text">Apelido: {{ object.apelido|default:"---" }}</p>
                          <h5 class="card-title">Facção: {{ object.faccao|default:"---" }}</h5>

                          <div class="pull-right">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalEditarPessoa">
                              Editar
                            </button>
                          </div>

                        </div>
                    </div>
                  </div>

                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <h5>Filiação</h5>
                    <p class="card-text">Mãe: {{ object.mae|default:"---" }}</p>
                    <p class="card-text">Pai: {{ object.pai|default:"---" }}</p>
                  </li>
                  <li class="list-group-item">
                    <h5>Documentos</h5>
                    <p class="card-text">RG: {{ object.rg|default:"---" }}</p>
                    <p class="card-text">CPF: {{ object.cpf|cpf_mask|default:"---" }}</p>
                    <p class="card-text">CNH: {{ object.cnh|default:"---" }}</p>
                  </li>
                  <li class="list-group-item">
                    <h5>Endereço</h5>
                    <p class="card-text">{{ object.get_address|default:"---" }}</p>
                    <p class="card-text">{{ object.get_address_complement }}</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3 text-left mb-4">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Contatos</h3>
                  {% for contato in object.pessoacontato_set.all %}
                  <p class="card-text">{{ contato.telefone }} <span class="badge badge-info">{{ contato.tipo }}</span></p>
                  {% endfor %}
                </div>
              </div>
              <div class="card mt-4">
                <div class="card-body">
                  <h3 class="card-title">Veículos</h3>
                  {% for veiculo in object.pessoas_veiculos.all %}
                  <p class="card-text">{{ veiculo.get_veiculo }}</p>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-sm-3 text-left mb-4">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Comparsas</h3>
                  {% for comparsa in object.comparsa_set.all %}
                  <p class="card-text">{{ comparsa }}</p>
                  <ul class="list-group list-group-flush mb-4">
                    <li class="list-group-item">RG: {{ comparsa.rg }}</li>
                    <li class="list-group-item">CPF: {{ comparsa.cpf }}</li>
                    <li class="list-group-item">CNH: {{ comparsa.cnh }}</li>
                  </ul>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="row row-cols-1 row-cols-md-4">
            <div class="col text-left-mb-4">
              <h3 class="card-title text-left">Fotos</h3>
              <div class="card-group">
                {% for foto in object.foto_set.all %}
                  {% if foto != object.get_first_photo %}
                    {% if foto.foto %}
                      <div class="card">
                        <img src="{{ foto.foto.url }}" class="card-img-top" style="max-width: 200px;" alt="{{ foto.foto.name }}">
                      </div>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="row row-cols-1 row-cols-md-4">
            <div class="col text-left-mb-4">
              <h3 class="card-title text-left">Tatuagens</h3>
              <div class="card-group">
                {% for tatuagem in object.tatuagem_set.all %}
                  {% if tatuagem.foto %}
                    <div class="card">
                      <img src="{{ tatuagem.foto.url }}" class="card-img-top" style="max-width: 200px;" alt="{{ tatuagem.foto.name }}">
                      <div class="card-body">
                        <p class="card-text text-left">{{ tatuagem.descricao }}</p>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button">
            <span><i class="fa fa-chevron-down"></i></span>
            Ocorrências
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="my-collapse collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>RAI</th>
                <th>Data do fato</th>
                <th>Descrição</th>
              </tr>
            </thead>
            <tbody>
              {% for ocorrencia in ocorrencias %}
              <tr>
                <td>{{ ocorrencia.ocorrencia.rai }}</td>
                <td>{{ ocorrencia.ocorrencia.data_do_fato }}</td>
                <td>{{ ocorrencia.ocorrencia.descricao }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button">
            <span><i class="fa fa-chevron-down"></i></span>
            Infrações
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="my-collapse collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Natureza</th>
                <th>Qualificação</th>
                <th>Arma</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for infracao in object.infracao_set.all %}
              <tr>
                <td>{{ infracao.natureza }}</td>
                <td>{{ infracao.get_qualificacao_display }}</td>
                <td>{{ infracao.arma }}</td>
                <td>{{ infracao.get_status_display }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Pessoa -->
<div class="modal fade" id="modalEditarPessoa" tabindex="-1" role="dialog" aria-labelledby="modalEditarPessoaLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalEditarPessoaLabel">Editar Pessoa</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form action="{% url 'pessoa:pessoa_update' object.slug %}" method="POST">
        <div class="modal-body">
            {% csrf_token %}

            {% for field in form_pessoa.visible_fields %}
              <div class="form-group{% if field.errors %} has-error {% endif %}">
                <label for="{{ field.id_for_label }}">
                  {% if field.field.required %}
                    <span class="required">{{ field.label }}</span>
                  {% else %}
                    {{ field.label }}
                  {% endif %}
                </label>
                {% render_field field class="form-control" %}
                {% for error in field.errors %}
                  <span class="text-muted">{{ error }}</span>
                {% endfor %}
              </div>
            {% endfor %}

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
      </form>
    </div>
  </div>
</div>


</div>
{% endblock content %}

{% block js %}
  <script>
    $('.my-collapse').on('shown.bs.collapse', function() {
      $(this).prev().find(".fa").addClass('fa-chevron-up').removeClass('fa-chevron-down');
    });

    $('.my-collapse').on('hidden.bs.collapse', function() {
      $(this).prev().find(".fa").addClass('fa-chevron-down').removeClass('fa-chevron-up');
    });
  </script>
{% endblock js %}