{% extends "base.html" %}

{% block title %}| Pessoas{%endblock%}

{% block breadcrumbs %}
  {% include "breadcrumb/_include_breadcrumb_base.html" %}
{% endblock %}

{% block style %}
  <style>
    .badge-article {
      border-radius: 0;
      font-size: .85rem;
    }
  </style>
{% endblock style %}

{% block content %}

<div class="container">
  <div class="row cols">
    <div class="col-md-6">
      <form method="GET">
        <label class="sr-only" for="inlineFormInputGroup">Username</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-search"></i></div>
          </div>
          <input type="text" class="form-control" name="search" placeholder="Localizar...">
          <input type="submit" class="btn btn-success ml-2" value="OK"></button>
          <a href="." class="btn btn-link">Limpar</a>
        </div>
      </form>
    </div>
    <div class="col-md-3">
      <a class="btn btn-primary" href="{% url 'pessoa:pessoa_create' %}">Adicionar</a>
    </div>
  </div>

  <h4>Pessoas</h4>

  <table class="table">
    <thead>
      <tr>
        <th>Nome completo</th>
        <th>Foto</th>
        <th>Apelido</th>
        <th>Facção</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Infrações</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>
            <a href="{% url 'pessoa:pessoa' object.slug %}">{{ object }}</a>
          </td>
          <td>
            {% if object.get_first_photo %}
              <img src="{{ object.get_first_photo.foto.url }}" width="100px">
            {% endif %}
          </td>
          <td>{{ object.apelido|default:"---" }}</td>
          <td>{{ object.faccao|default:"---" }}</td>
          <td>{{ object.district|default:"---" }}</td>
          <td>{{ object.city|default:"---" }}</td>
          <td>
            {% for infracao in object.infracao_set.all %}
              <span class="badge badge-info badge-article" data-toggle="tooltip" data-placement="top" title="{{ infracao.natureza }}">{{ infracao.natureza.artigo }}</span>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}

{% block js %}
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
  </script>
{% endblock js %}