{% extends "base.html" %}
{% block title %}| Pessoa{%endblock%}
{% block content %}
<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h2 class="card-title">{{ object }}</h2>
      <p class="card-text">Apelido: {{ object.apelido }}</p>
      <h5 class="card-title">Facção: {{ object.faccao }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h5>Filiação</h5>
        <p class="card-text">Mãe: {{ object.mae }}</p>
        <p class="card-text">Pai: {{ object.pai }}</p>
      </li>
      <li class="list-group-item">
        <h5>Documentos</h5>
        <p class="card-text">RG: {{ object.rg }}</p>
        <p class="card-text">CPF: {{ object.cpf }}</p>
        <p class="card-text">CNH: {{ object.cnh }}</p>
      </li>
      <li class="list-group-item">
        <h5>Endereço</h5>
        <p class="card-text">{{ object.get_address }}</p>
        <p class="card-text">{{ object.get_address_complement }}</p>
      </li>
    </ul>
    <!-- <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div> -->
  </div>
</div>
{% endblock content %}