{% extends 'base.html'%}
{% load widget_tweaks %}

{% block title %}| Usuários{%endblock%}

{%block content%}
<div class="col mb-5">
  ola {{ request.user.first_name }}
  <h5>Escolha uma das opções</h5>
</div>

<div class="container">
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a id="id_pessoas" href="{% url 'pessoa:pessoas' %}">Pessoas</a>
          <br>
          <br>
          <a id="id_report_pessoas" href="{% url 'pessoa:report_pessoas' %}">Relatório PDF</a>
        </h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'ocorrencia:ocorrencias' %}">Ocorrências</a>
        </h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'ocorrencia:infracoes' %}">Infrações</a>
        </h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'veiculo:veiculos' %}">Veículos</a>
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Para Cadastrar Pessoa
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="content">
          <div class="row">
            <div class="col-md">
              <p>
                <h6>Para Cadastro de Pessoas </h6>
              </p>
              <a class="btn btn-primary" href="{ url 'pessoa' %}" role="button">Cadastrar Pessoa</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Para Cadastrar Usuários
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <div class="content">
          <div class="row">
            <div class="col-md">
              <a class="btn btn-primary" href="#" role="button">Cadastrar Usuario</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Para Listagens
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <div class="content">
          <div class="row">
            <div class="col-md">
              <a class="btn btn-primary" href="{ url 'listarpessoas' %}" role="button">Listar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
</div>
{%endblock%}

{% block js %}
  <script>
    $(document).ready(function() {
      $('.breadcrumb').remove();
    });

    let path = "{% url 'pessoa:report_pessoas' %}"

    function printDiv(divName) {
      window.open(path)
    }

    $('#id_report_pessoas').on('click', function(event) {
      event.preventDefault();
      printDiv('printme');
    });
  </script>
{% endblock js %}