<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'core:index' %}">Sistema Ari</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'pessoa:pessoas' %}">Pessoas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ocorrencia:ocorrencias' %}">Ocorrências</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ocorrencia:infracoes' %}">Infrações</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ocorrencia:homicidios' %}">Homicídios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ocorrencia:naturezas' %}">Naturezas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'veiculo:veiculos' %}">Veiculos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="accounts/logout">Logout </a>
      </li>
    </ul>
  </div>
</nav>