{% extends "base_report.html" %}
{% load easy_mask %}
{% block title %}Relatorio de Homicídios-{{ today|date:"Y-m-d" }}{%endblock%}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>Rai</th>
      <th>Data do Homicidio</th>
      <th>Forma</th>
      <th>Área UPM</th>
      <th>Vítima</th>
      <th>Instrumento</th>
      <th>Motivação</th>
      <th>Autoria</th>
      <th>Gênero</th>
      <th>Bairro</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td style="width: 50px;">{{object.rai}}</td>
      <td>{{ object.data_do_homicidio|default:"---" }}</td>
      <td>{{ object.forma|default:"---" }}</td>
      <td>{{ object.area_upm|default:"---" }}</td>
      <td>{{ object.vitima|default:"---" }}</td>
      <td>{{ object.instrumento|default:"---" }}</td>
      <td>{{ object.motivacao|default:"---" }}</td>
      <td>{{ object.autoria|default:"---" }}</td>
      <td>{{ object.genero|default:"---" }}</td>
      <td>{{ object.district|default:"---" }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <span class="float-right lead" style="width: 10%;"><b>Total:</b> {{ object_list.count }} </span>
</table>
{% endblock content %}
{% block js %}
<script>
window.onload = function() {
  window.print();

  setTimeout(() => {
    window.close();
  }, 2000);
};
</script>
{% endblock js %}