.container-fluid {
    padding: 0;
}

/*FotoPessoa*/

.fa-pen {
    margin-right: 60px;
}


.form-group .form-control{
padding:10px;
float:none;

}
.form-control{
    float: right;
    display: flexbox;
    
}


.btn-main {
    margin-left: 100px;
    margin-bottom: 30px;
    background: cornflowerblue;
    float:inline-end;

}

.espaco {
    margin-right: 10px;
}

/*NavBar*/

.navbar {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.navbar-nav {
    margin: auto;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link {
    color: #333;
    letter-spacing: 1px;
}

.fa:before {
    font-family: FontAwesome !important;
}

/*Botão Editar8*/

.add-div {
    display: inline;
    color: rgb(31, 29, 29);
    padding: 8px;
    border-radius: 10px;
    margin-right: 40px;
    margin-left: 45px;
}

/*Lista de Pessoas*/

.list-div {
    padding: 0;
}

.pessoas-list {
    padding-left: 0;
}

.pessoas-item {
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border: 1px dashed #ccc;
}

.form-control {
    width: 200px;
    float: left;
    margin-bottom: 10px;
}

.fas.fa-search {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.fas.fa-list {
    position: relative;
}

/*Search*/

.fas.fa-trash, .fas.fa-edit, .fas.fa-eye {
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fa-trash {
    color: red;
}

.fas.fa-edit {
    color: rgb(21, 139, 21);
}

.fas.fa-eye {
    color: blue;
}

/*Colunas*/

.container.col {
    float: left;
}

/*Rodapé*/

footer {
    background: #333;
    height: 300px;
    border-top: 2px solid #202020;
}

footer p {
    color: aliceblue;
    text-align: center;
    top: 50%;
    position: relative;
}