<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'core:index' %}">Dashboard</a>
  </li>
  <li class="breadcrumb-item">
    {% if model_name_plural == 'Homicidios' and object %}
      <a href="{{ url }}?filter_ano=2021">{{ model_name_plural }}</a>
    {% else %}
      <a href="{{ url }}">{{ model_name_plural }}</a>
    {% endif %}
  </li>

  {% if object %}
    <li class="breadcrumb-item">
      {{ object }}
    </li>
  {% endif %}

  {% if object.pk %}
    {% if model_name_plural != 'Pessoas' %}
      <li class="breadcrumb-item active">Editar</li>
    {% endif %}
  {% elif '/add/' in request.resolver_match.route %}
    <li class="breadcrumb-item active">Adicionar</li>
  {% endif %}
</ol>