.myavatar {
  width: 36px;
  height: 36px;
  margin-left: 5px;
  background-color: #dedede;
  border-radius: 18px;
}

.span-is-link {
  text-decoration: none;
  cursor: pointer;
  color: #20a8d8;
}

.breadcrumb-mt {
  margin-top: 55px;
}

.alert-error {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #fff;
  background-color: #f86c6b;
  word-wrap: break-word;
  box-sizing: border-box;
}

.required:after {
  content: ' *';
  color: red;
}

span.required:after {
  content: ' *';
  color: red;
}

.add-item {
  color: green;
  padding-left: 5px;
  cursor: pointer;
}

.p-ari-5 {
  padding: 0 5px;
}

.pl-ari-5 {
  padding-left: 5px;
}

.pr-ari-5 {
  padding-right: 5px;
}

.fs-badge {
  font-size: 14px;
}

.no-border {
  border: none;
  padding-left: 0;
}

.li-line {
  padding: .2rem 1.25rem;
}

.mr-10 {
  margin-right: 10px;
}