.span-is-link {
  text-decoration: none;
  cursor: pointer;
  color: #20a8d8;
}

.breadcrumb-mt {
  margin-top: 55px;
}

.alert-error {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #fff;
  background-color: #f86c6b;
  word-wrap: break-word;
  box-sizing: border-box;
}

span.required:after {
  content: ' *';
  color: red;
}